.left{
    float: left;
    width: 50%;
    background-color:#F39681;
    padding-top:160px;
    padding-bottom:200px;
}
.right{
    float: left;
    width: 50%;
    align-content: center;
}
.title{
    padding-top:300px;
    color: #FF0065;
    font-size:50px;
    padding-left:230px;
    padding-right:230px;
    padding-bottom:50px;
}
.subtitle{
    color: #8F8E8E;
    font-size:20px;
    padding-left:280px;
    padding-right:280px;
    line-height: 25px;
   
}
.record-button{
    width: 32%;
    height: 3em;
    color:white;
    background-image: linear-gradient(to top left, #FF0065,  #ff579a);
    align-items: center;
    transition: 0.5s;
    font-size:19px;
    border-color: #ff579a;
    border-radius: 1.5em;
	cursor: pointer;
    text-decoration:  none;
    margin:10px;
}
.translate-button{
    width: 32%;
    height: 3em;
    font-size:19px;
    color: white;
    background-image: linear-gradient(to top left,#FFB58A,  #fdcfb5);
    align-items: center;
    transition: 0.5s;
    border-color: #FFB58A;
    border-radius: 1.5em;
	cursor: pointer;
    text-decoration:  none;
    margin:10px;
}

.translate-button:disabled{
    background-color: #5a5a5a;
    color: #ffffff;
    border-color: #534d49;
    background-image: linear-gradient(to top left,#6a625d,  #716664);
    cursor: not-allowed;
}

#stop-inner-circle {
    position: relative;
    color: #FFF;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-family: "Lato", Verdana, sans-serif;
    font-size: 30px;
    padding-top: 60px;
    width: 150px;
    height: 90px;
    border-radius: 120px;
    background: radial-gradient(#EF495A, #DE2839);
    box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
    margin: 0 auto;
    top: 25px;
  }
  
  #stop-main-circle:hover {
    box-shadow: 1px 3px 1px #CE152A;
    cursor: pointer;
  }